.contact_section{
    margin: 10px 85px;   
}

.contact_section h1{
    font-size: 48px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}

.contact_section p1{
   
    font-weight: 300;
}